.popup {
  z-index: 99999;
    position: fixed;
  @media only screen and (max-height: 507px) {
     position: absolute;
 }
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup__title{
    // @include beat_tab();
  margin-left: 25px;
    margin-bottom: 25px;
  margin-top: 20px;
  font-size: 1.3em;
}
.popup_inner {

  position: absolute;
  min-height: 80vh;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: $white;
@include PhoneScreen(){
  left: 2%;
  right: 2%;
  top: 2%;
  bottom: 2%;
}
 @include TabletScreen(){
   left: 5%;
   right: 5%;
   top: 5%;
   bottom: 5%;
}
}
