
$black: black;
$white: white;

$whiteBG: #F1F1F1;
$backgroundColor: #D8D8D8;

@import "../../../node_modules/normalize-scss/sass/_normalize.scss";
@include normalize();

@import 'media.scss';
@import 'fonts.scss';
@import 'htags.scss';
@import 'home.scss';
@import './popup/popUpMain.scss';
@import './popup/popUp.scss';

html{

}

body{

}
