$phone-width--small: 340px;
$phone-width--smallvery: 240px;
$phone-width: 414px;
$tablet-width: 768px;
$inbewtweenPhone-Table-width: 660px;
$desktop-width: 920px;
$menuBar-width: 560px;
$popUPMinHeight: 470px;
$phone-width--mid: 370px;

$phonePlus_redux-min: 404px;
$phone_redux-max: 767px;
$tablet_redux-min: 768px;
$tablet_redux-max:  991px;
$desktop_redux-min: 992px;



// @include PhoneScreen(){
//
// }
//
// @include TabletScreen(){
//
// }
//
// @include DesktopScreen(){
//
// }


@mixin PhoneScreen{
   @media only screen  and (max-width: #{$phone_redux-max}){
    @content;
  }
}

@mixin PhoneScreenPlus{
   @media only screen and (min-width: #{$phonePlus_redux-min}) and (max-width: #{$phone_redux-max}){
    @content;
  }
}



@mixin TabletScreen{
   @media only screen  and (min-width: #{$tablet_redux-min}) and (max-width: #{$tablet_redux-max}){
    @content;
  }
}

@mixin DesktopScreen {
   @media only screen  and (min-width: #{$desktop_redux-min}) {
    @content;
  }
}



@mixin destopWidth(){

  @include  desktop(){
    max-width: 1150px;
    margin: auto;
  }
}

@mixin centerDiv__Max() {

  @include tablet(){
max-width: 550px;
margin: auto;
  }

  @include inbewtweenPhone-Table (){
    max-width: 800px;
    margin: auto;
  }

  @include  desktop(){
    max-width: 1000px;
    margin: auto;
  }
}


@mixin phone_both {
   @media only screen and (max-width: #{$desktop-width}){
    @content;
  }
}
@mixin tablet {
   @media only screen and (max-width: #{$tablet-width}) and (min-width: #{$phone-width}){
    @content;
  }
}
@mixin menuBar {
   @media (max-width: #{$menuBar-width}){
    @content;
  }
}
@mixin phone {
   @media (max-width: #{$phone-width}){
    @content;
  }
}

@mixin phone-width--small--mid {
  @media  (max-width: #{$phone-width--mid}){
   @content;
 }
}




@mixin phone-width--small--very {
  @media  (max-width: #{$phone-width--smallvery}){
   @content;
 }
}


@mixin phoneSmaller {
  @media  (max-width: #{$phone-width--small}){
   @content;
 }
}
@mixin desktop {
   @media (min-width: #{$desktop-width+1}){
    @content;
  }
}
@mixin UpTodesktop {
   @media (max-width: #{$desktop-width+1}){
    @content;
  }
}

@mixin inbewtween_A_Phone-_A_Table {
   @media only screen  and (min-width: #{$phone-width}) and (max-width: #{$tablet-width}){
    @content;
  }

}

  @mixin inbewtweenPhone-Table {
     @media only screen  and (min-width: #{$inbewtweenPhone-Table-width}) and (max-width: #{$desktop-width}){
      @content;
    }

}

@mixin UpToinbewtweenPhone-Table {
   @media only screen  and (max-width: #{$inbewtweenPhone-Table-width}) and (max-width: #{$desktop-width}){
    @content;
  }

}

@mixin popUpHeigth{
  @media only screen  and (max-height: #{$popUPMinHeight}) {
   @content;
 }
}
